<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Available Books</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h3 id="availableBooksCount">Nombre de livres</h3>
  <h1 id="count">0</h1>
  <button id="getBooksButton">Chercher</button>

  <script>
    const socket = io();
    document.getElementById('getBooksButton').addEventListener('click', () => {
      socket.emit('availableBooks');
    });
    socket.on('availableBooks', (count) => {
      document.getElementById('count').innerText = count;
    });
  </script>
</body>
</html>