<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>

</head>
<body>
<h1> Hello </h1>
<a href="/chatdb" target="_blank" >Go to Chat</a>
<br>
<a href="/getAvailableBooks" target="_blank">Go to Books</a>
</body>
</html>